body {
    background-color: #e9f3fd;
    margin: 0;
}

header {
    background-color: white;
    float: left;
    width: 77%;
    height: 120px;

    box-shadow: 0 0 5px 2px black;

    position: relative;
}

header h1 {
    position: absolute;
    font-style: italic;
    font-size: calc(20px + 2vw);
}

header p {
    float: right;
    font-size: 80%;
    position: absolute;
    bottom: -5%;
    right: 1%;

}

header button {
    position: absolute;
    right: 4%;
    bottom: -40%;

    font-size: large;
    font-family: "Comic Sans MS";
    height: 31%;

}

.user {
    /* background-image: url(image/users.PNG);*/
    background-color: #1c97f4;
    left: 80%;
    width: 20%;
    height: 120px;

    position: relative;
}

#login {
    position: absolute;
    top: 8px;
    right: 5%;
    align-content: center;
    font-family: Impact;
    font-weight: 500;
    font-size: 30px;
}

.user button {
    position: absolute;
    top: 76%;
    right: 0;
    height: 25px;
    margin-right: 8%;
}

#log-in-button {
    display: none;
}

/*log-off*/
#add-news-button-log-off {
    display: none;
}

#log-off-button-log-off {
    display: none;
}

#log-in-button-log-off {
    display: block;
}

.teg-area-log-off {
    overflow: auto;
    float: left;
    width: 100%;
    height: 50px;
    color: white;
    background-color: #1c97f4;
}

.edit-news-button-log-off {
    display: none;
}

.delete-news-button-log-off {
    display: none;
}

/*ФИЛЬТРАЦИЯ*/
aside {
    float: left;
    background-color: #91cbf9;
    opacity: 0.8;
    width: 20%;
    position: fixed;
    right: 0;
    top: 190px;
}

#filter-title {
    text-align: center;
    font-size: calc(12px + 1vw);
}

.filter-item-name {
    margin: 0;
    padding: 0;
    float: left;
    font-size: calc(12px + 0.5vw);
}

.filter-menu-checkbox {
    float: left;
}

/*Меню выбора параметров*/
.menu {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.submenu li {
    list-style-type: none;
}

.menu li label {
    width: 100%;
    float: right;
}

.submenu {
    display: none;
    padding: 0;
}

.filter-menu-checkbox:checked ~ .submenu {
    display: block;
}

.filter-text-area {
    width: 96%;
    float: left;
    text-align: center;
    white-space: pre-wrap;
    resize: vertical;
}

#filter-find-button {
    position: relative;
    left: 37%;
    margin: 2%;
    font-family: "Comic Sans MS";
}

/*НОВОСТИ*/
main {
    float: left;
    width: 75%;
    position: relative;
    top: 60px;
    left: 1%;
    margin-left: 0;
}

#pagination {
    float: right;
    background-color: #91cbf9;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

#pagination button {
    float: left;
    width: 50px;
}

#pagination p {
    padding: 0;
    float: left;
    margin-right: 2%;
}

.pagination-checked{
    background-color: #ffffcd;
}

/*Поле регистрации и входа*/
#log-in-area{
    display: inline-block;
    width: 350px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    background-color: aliceblue;
}

#log-in-area textarea{
    margin-left: 5%;
    width: 90%;
    overflow: hidden;
    word-wrap: normal;
}
#log-in-area button{
    float: right;
    height: 50px;
    width: 100px;
    margin: 5px;
    margin-right: 10px;
    border-style: solid;
    background-color: darkgrey;
}
/*Текст, теги и развернуть*/
.teg-area {
    float: left;
    width: calc(100% - 60px);
    height: 50px;
    color: white;
    background-color: red;
    overflow: auto;
}

.edit-news-button {
    width: 30px;
    height: 50px;
    float: left;
    background-image: url("images/redactButton.png");
    background-size: 28px;
}

.delete-news-button {
    float: left;
    background-image: url("images/bucket.png");
    background-size: 27px;
    width: 30px;
    height: 50px;
}

.news-area {
    display: block;
    float: right;
    width: 100%;
    height: 75%;
    margin-bottom: 0.5%;
    background-color: #ffffcd;
}

.news-area:hover {
    box-shadow: 0 0 20px;
}

.news-header {
    text-align: center;
}

.news-summary {
    text-indent: 40px;
}

.news-summary-at-full{
    margin-left: 60px;
    margin-right: 40px;
    font-size: small;
    color: gray;
}

.news-full-text-unvisible{
    display: none;
}
.news-full-text-visible{
    text-indent: 40px;
    display: block;
}
.news-author {
    float: left;
    width: 50%;
    background-color: #91cbf9;
    height: 10%;
    text-align: center;
    margin-bottom: 30px;
}

.news-date {
    float: left;
    width: 50%;
    height: 10%;
    text-align: center;
    background-color: grey;
    opacity: 0.6;
}
.news-edit-button-visible{
    display: block;

    border-style: solid;
    padding: 0;
    margin-right: 4px;
    margin-bottom: 5px;
    height: 30px;
    width: 100px;
    float: right;
}
.news-edit-button-unvisible{
    display: none;
}
/*Подвал*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    min-height: 100%;
    flex: 1 0 auto;

}

.page-buffer {
    height: 50px;
}

footer {
    flex: 0 0 auto;
    width: 100%;
    background-color: aqua;
    margin-top: 10%;
}

@media screen and (max-width: 500px) {

    main {
        width: 100%;
        top: 0;
        margin-top: 5px;
    }

    header {
        width: 100%;
    }

    header button {
        font-size: calc(4px + 3vw);
        left: 2%;

        top: 130px;
    }

    header p {
        font-size: calc(6px + 1.5vw);
    }

    header h1 {
        font-size: calc(10px + 5vw);
        width: 70%;
    }

    aside {
        position: static;
        margin-bottom: 0;
        width: 100%;
        margin-top: calc(45px + 4vw);
    }

    .user {
        position: absolute;
        left: 70%;
        top: 0;
        width: 30%;
        height: 20vw;
    }

    #login {
        position: static;
        margin-top: 0;
        margin-bottom: -4px;
        margin-left: 3%;
        margin-right: 5%;
        font-size: calc(5px + 5vw);
    }

    .user button {
        position: static;
        margin-top: 4px;
        margin-left: 5%;
        top: 10px;
        font-size: 4vw;
        height: 8vw;
    }
    .news-header{
        font-size: 100%;
    }
    #pagination button {
        float: left;
        width: 50%;
        height: 50px;
    }

    #log-in-area{
        width: 95%;
        font-size: small;
    }
}